:root {
  --bg-light:#ffffff;
  --bg-dark:#1e1e1e;
  --text-light:#000000;
  --text-dark:#ffffff;
  --card-bg-light:#f9f9f9;
  --card-bg-dark:#2e2e2e;
}

body.light{
  background-color: var(--bg-light);
  color: var(--text-light);
}

body.dark{
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

body.light .job-card{
  background-color: var(--bg-light);
  color: var(--text-light);
}

body.dark .job-card{
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  transition: backgrpund-color 0.3s ease, color 0.3s ease;
}